.main {
  height: 100vh;
}
.error {
  color: rgb(90, 90, 90);
}
.container {
  display: inline;
}
.container_description {
  margin: 0;
  text-align: center;
  color: #c7a35d;
  font-size: 14px;
}
.container_title {
  margin-left: 20px;
  color: white;
  font-weight: 600;
  border-bottom: 1px solid #656565;
}
